In [3]:
import pandas as pd
import numpy as np
import spacy

WARNING:tensorflow:From C:\Anaconda\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [4]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [5]:
df1 = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/twitter_sentiment.csv')
df1.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv')
df.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [7]:
df['sentiment'].value_counts()

0    2000
1    2000
Name: sentiment, dtype: int64

# word count

In [8]:
len('my name is shiblu das')
len('my name is shiblu das'.split())

5

In [9]:
 df['word_counts']= df['twitts'].apply(lambda x : len(str(x).split()))

In [10]:
df.sample(5)

,twitts,sentiment,word_counts
2863,@mileycyrus I love your photo,1,5
2007,@MZ_KISS LOL wassup mamasz,1,4
196,A lot better. Just realized something though. ...,0,22
146,is not v. happy about the rain!!!!!!!!!!!!! it...,0,13
12,can't fall asleep,0,3

In [11]:
 df['word_counts'].max()

32

In [12]:
 df['word_counts'].min()

1

In [13]:
 df[df['word_counts']==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1

In [14]:
def char_counts(x):
    s = x.split()
    x = ''.join(s)
    return len(x)

# character count

In [15]:
df['char_counts'] = df['twitts'].apply(lambda x:char_counts(str(x)))

In [16]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts
2504,@FemaleProdigy you could do dream sequences wi...,1,20,108
1656,@dynamiks Cause I have sooo many things to do ...,0,21,83
2298,@ninalorraine oh my goodness! yes! i win it's...,1,17,82
1097,Too tired to smokeee,0,4,17
313,"head hurts more, stomach hurts less. WTF is w...",0,12,54

# Average word length

In [17]:
#characterLen/WordLen
x = 'this is' # 6/2 = 3
y = 'thank you guys'  #12/2 = 6

In [18]:
 df['avg_word_len']= df['char_counts']/df['word_counts']

In [19]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len
808,Poor Roxana Saberi i hope she's well. She's...,0,21,99,4.714286
39,Internet still down. Luckily I can watch the g...,0,15,68,4.533333
2471,"@yelyahwilliams, Hiya, could you wish Zac a ve...",1,14,75,5.357143
775,wax - or epilate? ive been waxing my lower leg...,0,16,75,4.687500
2696,@alexgzz thanks deja lo reviso,1,5,26,5.200000

# Stop_Word_count

In [20]:
print(stopwords)

{'always', 'call', 'themselves', 'thereby', 'a', 'under', 'to', 'your', 'them', '’d', 'again', 'does', 'do', 'behind', 'perhaps', 'rather', 'too', 'however', 'where', 'among', 'against', 'whoever', 'everything', 'in', 'you', 'own', 'throughout', 'alone', 'get', 'very', '‘d', 'others', 'any', 'elsewhere', 'least', 'onto', 'then', 'with', 'him', 'some', 'thereupon', 'ours', 'have', 'an', 'himself', 'no', 'though', 'those', 'both', 'seemed', 'this', 'show', 'empty', 'upon', 'than', 'give', 'thence', 'because', 'on', 'but', 'she', 'indeed', 'nobody', 'formerly', 'we', 'otherwise', 'namely', 'something', 'full', 'keep', 'whether', 'go', 'whereas', 'here', 'what', 'first', 'when', 'only', 'beforehand', 'therein', 'n‘t', 'hence', 'ten', 'its', 'seem', 'make', '‘ve', 'was', 'all', 'except', 'off', 'yourself', 'since', 'whom', 'much', 're', 'myself', 'is', 'next', 'whither', 'who', 'my', 'during', 'been', 'i', 'meanwhile', 'whereupon', 'such', 'used', 'last', 'from', 'also', 'whenever', 'other', 'one', 'why', 'already', 'whence', 'our', "'ve", 'each', 'must', '‘re', 'seeming', 'therefore', 'did', 'please', 'wherein', 'everywhere', 'below', 'hereafter', 'third', 'over', 'between', 'yours', 'for', 'another', 'that', 'so', 'hereupon', "'d", 'enough', 'same', 'they', '’s', 'besides', 'three', 'six', 'sometimes', 'of', 'not', 'twelve', 'few', 'although', 'together', 'out', 'become', 'neither', 'would', 'put', 'unless', 'at', 'thus', 'nevertheless', 'about', 'nor', 'were', 'towards', 'thereafter', 'hereby', 'may', 'once', 'just', 'anyway', "n't", 'name', 'forty', 'as', 'while', 'until', 'above', 'two', 'per', 'amongst', 'yourselves', 'afterwards', 'either', 'around', 'serious', 'front', 'well', 'really', 'these', 'nine', 'none', 'me', 'noone', 'even', 'thru', 'after', 'anything', 'being', 'sixty', 'side', 'various', 'fifteen', 'there', 'had', 'more', 'across', "'s", 'less', 'five', 'am', 'nothing', 'almost', 'twenty', 'still', 'amount', 'somewhere', 'whereafter', 'quite', 'latter', 'take', 'nowhere', 'ever', 'can', 'part', 'someone', 'the', 'move', 'within', 'else', 'itself', 'up', 'seems', 'see', "'m", 'whose', 'herein', 'ca', '’ll', 'eleven', 'many', 'ourselves', '’ve', 'back', 'should', 'if', '‘s', 'toward', '’re', 'most', 'whole', 'often', 'using', 'yet', '’m', 'be', 'everyone', 'done', 'beyond', 'sometime', 'becomes', 'regarding', '‘m', 'several', 'it', 'becoming', 'anyhow', 'mine', 'along', 'her', 'mostly', 'down', 'which', 'due', 'made', 'further', 'herself', 'will', 'has', 'before', 'cannot', 'anywhere', 'moreover', 'beside', 'never', 'four', 'hundred', 'into', 'hers', 'their', '‘ll', 'eight', 'or', 'say', 'anyone', 'top', 'wherever', 'became', 'how', 'by', 'us', 'doing', "'ll", "'re", 'n’t', 'now', 'every', 'somehow', 'latterly', 'his', 'former', 'via', 'whatever', 'and', 'he', 'without', 'bottom', 'through', 'fifty', 'could', 'might', 'are', 'whereby'}

In [21]:
#stop words are those words which occurs very frequently 
len(stopwords)

326

In [22]:
x = 'this is the text data'

In [23]:
x.split()

['this', 'is', 'the', 'text', 'data']

In [24]:
#my way
l = [];
for t in x.split():
    if t in stopwords:
        l.append(t)
print(l)

['this', 'is', 'the']

In [25]:
#tutorial

[t for t in x.split() if t in stopwords]

['this', 'is', 'the']

In [26]:
len([t for t in x.split() if t in stopwords])

3

In [27]:
df['stop_words_len'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t in stopwords]))

In [28]:
df

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13
...,...,...,...,...,...,...
3995,i just graduated,1,3,14,4.666667,2
3996,Templating works; it all has to be done,1,8,32,4.000000,6
3997,mommy just brought me starbucks,1,5,27,5.400000,2
3998,@omarepps watching you on a House re-run...lov...,1,8,45,5.625000,3
3999,Thanks for trying to make me smile I'll make y...,1,16,63,3.937500,9

# count_hash_tag

In [29]:
x = 'this is #hashtag and this is @mention'

In [30]:
x.split()

['this', 'is', '#hashtag', 'and', 'this', 'is', '@mention']

In [31]:
 [t for t in x.split() if t.startswith('#')]

['#hashtag']

In [32]:
 [t for t in x.split() if t.startswith('@')]

['@mention']

In [33]:
df['hashtags_count'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.startswith('#')]))

In [34]:
df['mentions_count'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.startswith('@')]))

In [35]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count
3365,"So last night was super fun, just what I neede...",1,21,88,4.190476,9,0,0
2993,@CVMINC wow that's quite the recommendation,1,6,38,6.333333,2,0,1
2784,@realadulttalk come on and smile for me? That'...,1,12,62,5.166667,4,0,1
2519,can't believe that spring break is just about ...,1,12,56,4.666667,5,0,0
150,Just been for a jacuzzi. Now time to pack,0,9,33,3.666667,4,0,0

# numeric_digits

In [36]:
x = 'this is 1 and 2'

In [37]:
x.split()

['this', 'is', '1', 'and', '2']

In [38]:
x.split()[2]

'1'

In [39]:
x.split()[2].isdigit()

True

In [40]:
 df['numeric_counts']= df['twitts'].apply(lambda x : len([t for t in x.split() if t.isdigit()]))

In [41]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts
1651,@juliancheal not sure we have that power we're...,0,9,45,5.000000,4,0,1,0
2241,"@Caitthesinger oh ok, well when u buy dvds mak...",1,23,95,4.130435,9,0,1,0
400,watching russel peter. hahaha... but why oh wh...,0,12,64,5.333333,4,0,0,0
3503,@jeffreecuntstar i would love to be tattooed b...,1,15,73,4.866667,9,0,1,0
298,i bought a box of clementines at the grocery s...,0,18,74,4.111111,10,0,0,0

# upper_case_words

In [42]:
x = 'HAPPY or happy'

In [43]:
x = 'I AM HAPPY'
y = 'i am happy'

In [44]:
[t for t in x.split() if t.isupper()]

['I', 'AM', 'HAPPY']

In [45]:
[t for t in y.split() if t.isupper()]

[]

In [46]:
df['upper_counts'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.isupper()]))

In [47]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts
691,@ekrelly,0,1,8,8.000000,0,0,1,0,0
1290,@valinyaozhen I WISH TOOOOOO! haha. but i'm ho...,0,16,82,5.125000,6,0,1,0,3
2193,sounds like I should've hit C'ville both night...,1,12,64,5.333333,2,0,0,0,1
1075,"@mattjorgdbb yeah, i know But I've just kept ...",0,19,102,5.368421,6,2,1,0,0
567,Argh! Sounds like someone is standing at my do...,0,22,95,4.318182,10,0,0,0,0

In [48]:
df.iloc[3962]['twitts']

'@DavidArchie Our local shows love tributes too much. True story! Will be watching SIS videos in Youtube later, haha '

# Lower_conversion

In [49]:
x = 'this is text'

In [50]:
x.lower()

'this is text'

In [51]:
x = 45.0
#x.lower()
str(x).lower()

'45.0'

In [52]:
df['twitts'] = df['twitts'].apply(lambda x : str(x).lower())

In [53]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts
2578,@thebadcat thank you,1,3,18,6.000000,1,0,1,0,0
667,i hate this cold i've caught.,0,6,24,4.000000,1,0,0,0,1
2103,i have found heaven....my back garden. tunes o...,1,19,92,4.842105,5,0,0,0,1
1211,@omgxitskatiexx i want the real adam!,0,6,32,5.333333,1,0,1,0,1
3112,@tofumei and im pretty sure princess adrianne ...,1,17,76,4.470588,5,0,1,0,1

# Contraction to expansion

In [54]:
#short to long word
x = "i'm don't he'll"

In [55]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value  = contractions[key]
            x = x.replace(key,value)
            return x
    else:
        return x

In [56]:
#cont_to_exp(x)

# count and remove emails

In [57]:
df[df['twitts'].str.contains('.com')]

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts
13,padres come back from being down 6-0 &amp; we ...,0,18,82,4.555556,8,0,0,0,0
32,is wishing tomorrow will be easier than today ...,0,13,56,4.307692,6,0,0,0,0
46,man i shouldve gone for a cruise what the hell...,0,19,74,3.894737,9,0,0,0,0
78,has used more moisturer today than all the oth...,0,17,93,5.470588,9,0,0,0,0
98,heading to work http://twitpic.com/4eojz,0,4,37,9.250000,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
3931,@kunaldua ask for hermes heritage complex. its...,1,18,97,5.388889,5,0,1,0,0
3935,@e_freckles sooo i think i need a new gaiman r...,1,10,51,5.100000,1,0,1,0,2
3958,someone has been creative with my #deskmess wh...,1,13,91,7.000000,7,1,1,0,0
3959,@stephynopants nothing beats experience! come ...,1,11,60,5.454545,4,0,1,0,1
3974,@gtucker13 http://twitpic.com/6tw87 - no reall...,1,16,84,5.250000,9,0,1,0,0

In [58]:
df[df['twitts'].str.contains('gmail.com')]

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts
2448,"when i click my firefox 'most visited' tab, af...",1,17,79,4.647059,5,0,0,0,1

In [59]:
df.iloc[2448]['twitts']

"when i click my firefox 'most visited' tab, after my gmail comes 'twitter / over capacity' nice "

In [60]:
df[df['twitts'].str.contains('hotmail.com')]

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts
3713,@securerecs arghh me please markbradbury_16@h...,1,5,51,10.2,0,0,1,0,0

In [61]:
df.iloc[3713]['twitts']

'@securerecs arghh me please  markbradbury_16@hotmail.com'

In [62]:
x = '@securerecs arghh me please  markbradbury_16@hotmail.com'

In [63]:
import re
re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',x)

['markbradbury_16@hotmail.com']

In [64]:
df['emails'] = df['twitts'].apply(lambda x : re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',x))

In [65]:
df['emails_count'] = df['emails'].apply(lambda x : len(x))

In [66]:
df[df['emails_count'] > 0].sample(1)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts,emails,emails_count
3713,@securerecs arghh me please markbradbury_16@h...,1,5,51,10.2,0,0,1,0,0,[markbradbury_16@hotmail.com],1

In [67]:
re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',"",x)

'@securerecs arghh me please  '

In [68]:
df['twitts'] = df['twitts'].apply(lambda x : re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',"",x))

# Count URL and Remove

In [69]:
x = 'hi,thanks to watching it. for more visit https://youtube.com/kgptalkie'

In [70]:
re.findall(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w.,@?^=%&:/~+#-])?',x)

[('https', 'youtube.com', '/kgptalkie')]

In [71]:
df['url_flags']= df['twitts'].apply(lambda x : len(re.findall(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w.,@?^=%&:/~+#-])?',x)))

In [72]:
df[df['url_flags']>0]

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts,emails,emails_count,url_flags
16,@brianquest i made 1 fo u 2: http://bit.ly/eid...,0,19,81,4.263158,3,0,1,1,3,[],0,1
98,heading to work http://twitpic.com/4eojz,0,4,37,9.250000,1,0,0,0,0,[],0,1
99,@blondeblogger http://twitpic.com/4w8hk - i'm ...,0,10,62,6.200000,4,0,1,0,0,[],0,1
144,i miss you â« http://blip.fm/~8lc2f,0,5,32,6.400000,1,0,0,0,1,[],0,1
183,photo: miss germany http://tumblr.com/xf825f012,0,4,44,11.000000,0,0,0,0,0,[],0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3819,new staark video of &quot;sweet release&quot; ...,1,20,118,5.900000,4,0,0,0,1,[],0,1
3826,http://tinyurl.com/kwmynq helmet - unsung to s...,1,9,76,8.444444,2,0,0,0,0,[],0,2
3837,@r0ckergirl14 wow sweet again!! http://twitpi...,1,5,52,10.400000,0,0,1,0,0,[],0,1
3958,someone has been creative with my #deskmess wh...,1,13,91,7.000000,7,1,1,0,0,[],0,1
3974,@gtucker13 http://twitpic.com/6tw87 - no reall...,1,16,84,5.250000,9,0,1,0,0,[],0,1

# Remove RT

In [73]:
x = 'rt@username: hello hirt'

In [74]:
re.sub(r'\brt\b','',x).strip()

'@username: hello hirt'

In [75]:
df['twitts'] = df['twitts'].apply(lambda x : re.sub(r'\brt\b','',x).strip())

# Special Character remove

In [76]:
x = '@duyku apprently i was not ready enough ....i ....'

In [77]:
re.sub(r'[^\w ]+',"",x)

'duyku apprently i was not ready enough i '

In [78]:
df['twitts'] = df['twitts'].apply(lambda x : re.sub(r'[^\w ]+',"",x))

# remove multiple spaces

In [79]:
x = 'hi   hello   how are you'

In [80]:
' '.join(x.split(' '))

'hi   hello   how are you'

In [81]:
df['twitts'] = df['twitts'].apply(lambda x : ' '.join(x.split(' ')))

# Remove HTML tags

In [82]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4) (2.3.2.post1)

In [83]:
from bs4 import BeautifulSoup

In [84]:
x = '<html><h1> thanks for watching it </h1></html>'

In [85]:
x.replace('<html><h1>','').replace('</h1></html>','')

' thanks for watching it '

In [86]:
BeautifulSoup(x,'lxml').get_text().strip()

'thanks for watching it'

In [87]:
df['twitts'] = df['twitts'].apply(lambda x : BeautifulSoup(x,'lxml').get_text().strip())

# Removing accented characters

# Remove stop words

In [88]:
x = 'this is a stop words code'

In [89]:
stopwords

{"'d",
 "'ll",
 "'m",
 "'re",
 "'s",
 "'ve",
 'a',
 'about',
 'above',
 'across',
 'after',
 'afterwards',
 'again',
 'against',
 'all',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'although',
 'always',
 'am',
 'among',
 'amongst',
 'amount',
 'an',
 'and',
 'another',
 'any',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anywhere',
 'are',
 'around',
 'as',
 'at',
 'back',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'behind',
 'being',
 'below',
 'beside',
 'besides',
 'between',
 'beyond',
 'both',
 'bottom',
 'but',
 'by',
 'ca',
 'call',
 'can',
 'cannot',
 'could',
 'did',
 'do',
 'does',
 'doing',
 'done',
 'down',
 'due',
 'during',
 'each',
 'eight',
 'either',
 'eleven',
 'else',
 'elsewhere',
 'empty',
 'enough',
 'even',
 'ever',
 'every',
 'everyone',
 'everything',
 'everywhere',
 'except',
 'few',
 'fifteen',
 'fifty',
 'first',
 'five',
 'for',
 'former',
 'formerly',
 'forty',
 'four',
 'from',
 'front',
 'full',
 'further',
 'get',
 'give',
 'go',
 'had',
 'has',
 'have',
 'he',
 'hence',
 'her',
 'here',
 'hereafter',
 'hereby',
 'herein',
 'hereupon',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'however',
 'hundred',
 'i',
 'if',
 'in',
 'indeed',
 'into',
 'is',
 'it',
 'its',
 'itself',
 'just',
 'keep',
 'last',
 'latter',
 'latterly',
 'least',
 'less',
 'made',
 'make',
 'many',
 'may',
 'me',
 'meanwhile',
 'might',
 'mine',
 'more',
 'moreover',
 'most',
 'mostly',
 'move',
 'much',
 'must',
 'my',
 'myself',
 "n't",
 'name',
 'namely',
 'neither',
 'never',
 'nevertheless',
 'next',
 'nine',
 'no',
 'nobody',
 'none',
 'noone',
 'nor',
 'not',
 'nothing',
 'now',
 'nowhere',
 'n‘t',
 'n’t',
 'of',
 'off',
 'often',
 'on',
 'once',
 'one',
 'only',
 'onto',
 'or',
 'other',
 'others',
 'otherwise',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'part',
 'per',
 'perhaps',
 'please',
 'put',
 'quite',
 'rather',
 're',
 'really',
 'regarding',
 'same',
 'say',
 'see',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'serious',
 'several',
 'she',
 'should',
 'show',
 'side',
 'since',
 'six',
 'sixty',
 'so',
 'some',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhere',
 'still',
 'such',
 'take',
 'ten',
 'than',
 'that',
 'the',
 'their',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'thereafter',
 'thereby',
 'therefore',
 'therein',
 'thereupon',
 'these',
 'they',
 'third',
 'this',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'to',
 'together',
 'too',
 'top',
 'toward',
 'towards',
 'twelve',
 'twenty',
 'two',
 'under',
 'unless',
 'until',
 'up',
 'upon',
 'us',
 'used',
 'using',
 'various',
 'very',
 'via',
 'was',
 'we',
 'well',
 'were',
 'what',
 'whatever',
 'when',
 'whence',
 'whenever',
 'where',
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 'whereupon',
 'wherever',
 'whether',
 'which',
 'while',
 'whither',
 'who',
 'whoever',
 'whole',
 'whom',
 'whose',
 'why',
 'will',
 'with',
 'within',
 'without',
 'would',
 'yet',
 'you',
 'your',
 'yours',
 'yourself',
 'yourselves',
 '‘d',
 '‘ll',
 '‘m',
 '‘re',
 '‘s',
 '‘ve',
 '’d',
 '’ll',
 '’m',
 '’re',
 '’s',
 '’ve'}

In [90]:
' '.join([t for t in x.split() if t not in stopwords])

'stop words code'

In [91]:
df['twitts_no_stop'] = df['twitts'].apply(lambda x : ' '.join([t for t in x.split() if t not in stopwords]))

In [92]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts,emails,emails_count,url_flags,twitts_no_stop
1863,4 episodes behind on lost i swear it seems tha...,0,18,84,4.666667,10,0,0,1,2,[],0,0,4 episodes lost swear season episode eliburford
2878,happy mothers day jlara5,1,4,23,5.750000,0,0,1,0,0,[],0,0,happy mothers day jlara5
970,coming to terms with the fact that only puddle...,0,20,104,5.200000,7,0,0,0,0,[],0,0,coming terms fact puddle jumpers come northwes...
2679,im_julia its on yelp pho pasteur yum yum yum,1,10,42,4.200000,1,0,1,0,0,[],0,0,im_julia yelp pho pasteur yum yum yum
960,jlsofficial awww bad news on missing out on t...,0,19,67,3.526316,5,0,1,0,0,[],0,0,jlsofficial awww bad news missing sun pic didn...

# convert base or root form of word

In [93]:
nlp = spacy.load('en_core_web_sm')

In [94]:
x = 'this is chocolates. what is  times? this balls'

In [95]:
def make_to_base(x):
    x_list = []
    doc = nlp(x)
    
    for token in doc:
        lemma = token.lemma_
        if lemma == '-PRON-' or lemma == 'be':
            lemma = token.text
        x_list.append(lemma)
        
    return ' '.join(x_list)

In [96]:
make_to_base(x)

'this is chocolate . what is   time ? this ball'

In [97]:
df['twitts'] = df['twitts'].apply(lambda x : make_to_base(x))

# Common_words_removal

In [98]:
x = 'this is this okay bye'

In [99]:
 text = ' '.join(df['twitts'])

In [100]:
len(text)

278809

In [101]:
text = text.split()

In [102]:
len(text)

54187

In [103]:
pd.Series(text)

0             is
1          bored
2            and
3           want
4             to
          ...
54182    special
54183        for
54184        you
54185          I
54186       hope
Length: 54187, dtype: object

In [104]:
pd.Series(text).value_counts()

I              2881
to             1457
the            1299
a               959
not             890
               ...
goooo             1
fpelligra         1
trainingomg       1
filming           1
rerunlovin        1
Length: 9321, dtype: int64

In [105]:
freq_comm = pd.Series(text).value_counts()

In [106]:
f20 = freq_comm[0:20]

In [107]:
f20

I       2881
to      1457
the     1299
a        959
not      890
my       825
you      766
and      709
is       613
do       607
have     603
it       584
in       571
for      521
of       482
m        470
go       470
that     458
get      437
on       427
dtype: int64

In [108]:
 df['twitts'] = df['twitts'].apply(lambda x : ' '.join([t for t in x.split() if t not in f20]))

In [109]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numeric_counts,upper_counts,emails,emails_count,url_flags,twitts_no_stop
3962,davidarchie our local show love tribute too mu...,1,19,97,5.105263,3,0,1,0,1,[],0,0,davidarchie local shows love tributes true sto...
1115,ok off bed big day immigration tomorrow,0,9,40,4.444444,3,0,0,0,0,[],0,0,ok bed big day immigration tomorrow
2512,was quotfireside angelquot by max ernst from s...,1,22,134,6.090909,6,0,0,0,1,[],0,1,quotfireside angelquot max ernst surrealist pe...
3644,great weekend karaoke awesomeness motorcycle l...,1,18,114,6.333333,4,0,0,0,0,[],0,0,great weekend karaoke awesomeness motorcycle l...
1926,monkeys_panda ve up few hour work,0,12,46,3.833333,7,0,1,0,0,[],0,0,monkeys_panda ive got hours work

# Rare occuring words

In [110]:
rare20 = freq_comm.tail(20)

In [111]:
df['twitts'] = df['twitts'].apply(lambda x : ' '.join([t for t in x.split() if t not in rare20]))

# word cloud vision

In [112]:
!pip install wordcloud

Requirement already satisfied: wordcloud in c:\anaconda\lib\site-packages (1.9.2)
Requirement already satisfied: matplotlib in c:\anaconda\lib\site-packages (from wordcloud) (3.7.0)
Requirement already satisfied: numpy>=1.6.1 in c:\anaconda\lib\site-packages (from wordcloud) (1.23.5)
Requirement already satisfied: pillow in c:\anaconda\lib\site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (1.0.5)
Requirement already satisfied: packaging>=20.0 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (22.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\anaconda\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

In [113]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
%matplotlib inline

In [114]:
text = ' '.join(df['twitts'])

In [115]:
len(text)

224106

In [116]:
"""
wc = WordCloud(width = 800 , height = 400).generate(text)
plt.imshow(wc)
plt.axis('off')
plt.show()
"""

"\nwc = WordCloud(width = 800 , height = 400).generate(text)\nplt.imshow(wc)\nplt.axis('off')\nplt.show()\n"

In [117]:
print('hello')

hello

# spelling correction

In [118]:
!pip install -U textblob

Requirement already satisfied: textblob in c:\anaconda\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\anaconda\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: joblib in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.1.1)
Requirement already satisfied: click in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.6)

In [119]:
!python -m textblob.download_corpora

Finished.

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\SHIBLU\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SHIBLU\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SHIBLU\AppData\Roaming\nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\SHIBLU\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data] Downloading package conll2000 to
[nltk_data]     C:\Users\SHIBLU\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\conll2000.zip.
[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\SHIBLU\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\movie_reviews.zip.

In [120]:
from textblob import TextBlob

In [121]:
x = 'thankks forr waching it'

In [122]:
x = TextBlob(x).correct()

In [123]:
x

TextBlob("thanks for watching it")

# tokenization

In [124]:
x = 'thanks#watching this video.Please like it'

In [125]:
TextBlob(x).words

WordList(['thanks', 'watching', 'this', 'video.Please', 'like', 'it'])

In [128]:
doc = nlp(x)
for token in doc:
    print(token)

thanks#watching
this
video
.
Please
like
it

# Detect Noun

In [129]:
x = 'Breaking News: Donald Trupmh the president of USA looking to sign deal to mine the moon'

In [130]:
doc = nlp(x)

In [131]:
for noun in doc.noun_chunks:
    print(noun)

Breaking News
Donald Trupmh
the president
USA
deal
mine
the moon

# Language Translation

In [132]:
tb = TextBlob(x)

In [134]:
tb

TextBlob("Breaking News: Donald Trupmh the president of USA looking to sign deal to mine the moon")

In [ ]:
tb.detect_language()

In [ ]:
!pip install pycountry

In [ ]:
from  textblob import TextBlob as TB
import pycountry

In [ ]:
tb = TB(x)

In [ ]:
tb.detect_language()

In [ ]:
from  textblob import TextBlob as TB
import pycountry
word = input('Breaking News: Donald Trupmh the president of USA looking to sign deal to mine the moon')
text = TB(word)
iso_code = text.detect_language()
language = pycountry.languages.get(alpha_2=iso_code)
language_name = language.name
print(f'Language Detected:{language_name}')